.timerContainer {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.timerBox {
  background-color: #1c3a66;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #4e9fef;
  font-size: 16px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  font-family: monospace;
}

.timerLow {
  color: #ff7675;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* Tablet Styles */
@media (min-width: 768px) {
  .timerContainer {
    padding: 0.6rem 1.2rem;
  }
  
  .timerBox {
    padding: 8px 15px;
    font-size: 18px;
    flex-grow: 0;
  }
  
  .timer {
    font-size: 1.4rem;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {
  .timerContainer {
    padding: 0.7rem 1.5rem;
  }
  
  .timer {
    font-size: 2rem;
  }
}