.found-words-container {
  background-color: rgba(26, 147, 246, 0.2);
  padding: 10px;
  border-radius: 8px;
  margin-top: 0;
  width: 100%;
  overflow-y: auto;
  max-height: 250px;
}

.found-words-container h2 {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-size: 1rem;
}

.length-group {
  margin-bottom: 0px;
}

.length-title {
  color: white;
  text-align: center;
  font-size: 14px;
  margin: 10px 0 5px 0;
  font-weight: bold;
  padding: 3px 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: none;
}

.words-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  gap: 10px;
}

.word-container {
  margin-bottom: 2px;
}

.word-container.bingo .word-row {
  background-color: rgba(243, 156, 18, 0.2);
  border-radius: 2px;
}

.word-container.found.bingo .word-row {
  background-color: rgba(243, 156, 18, 0.4);
}

.word-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3px;
}

.word-tile {
  width: 18px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #ccc;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.word-tile-filled {
  width: 18px;
  height: 18px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.not-found .word-tile-filled {
  opacity: 0.6;
  /* text-decoration: line-through; */
  background-color: #f8d7da;
}

@keyframes pulseFound {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.found .word-tile-filled {
  animation: pulseFound 0.6s;
}

/* Tablet Styles */
@media (min-width: 768px) {
  .found-words-container {
    padding: 15px;
    max-height: 350px;
  }
  
  .length-title {
    font-size: 16px;
  }
  
  .word-tile,
  .word-tile-filled {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {
  .found-words-container {
    padding: 20px;
  }
  
  .words-grid {
    gap: 10px;
  }
  
  .word-tile, 
  .word-tile-filled {
    width: 22px;
    height: 22px;
  }
}